<a href="https://colab.research.google.com/github/Webalizeme/data-bootcamp/blob/main/Day02_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
a = np.array([1,2,3,4,5])
print(a)
print("Moyenne :", np.mean(a))
print("Médiane :", np.median(a))
print("Écart-type :", np.std(a))

[1 2 3 4 5]
Moyenne : 3.0
Médiane : 3.0
Écart-type : 1.4142135623730951

In [2]:
import numpy as np
a = np.array([12, 14, 9, 17, 10])
print(a)
print("Moyenne :", np.mean(a))
print("Médiane :", np.median(a))
print("Écart-type :", np.std(a))

[12 14  9 17 10]
Moyenne : 12.4
Médiane : 12.0
Écart-type : 2.870540018881465

In [10]:
import pandas as pd
data = {
    "user_id": [1, 2, 3, 4, 5],
    "age": [23, np.nan, 31, 44, None],
    "visits": [2, 5, None, 7, 3],


}
df = pd.DataFrame(data)
print(df)
df.isnull().sum()
df["age"].fillna(df["age"].mean(), inplace=True)
df["visits"].fillna(0, inplace=True)

   user_id   age  visits
0        1  23.0     2.0
1        2   NaN     5.0
2        3  31.0     NaN
3        4  44.0     7.0
4        5   NaN     3.0

/tmp/ipython-input-701463156.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].mean(), inplace=True)
/tmp/ipython-input-701463156.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["visits"].fillna(0, inplace=True)

In [12]:
import pandas as pd
import numpy as np

data = {
    "user_id": [1, 2, 3, 4, 5],
    "age": [23, np.nan, 31, 44, None],
    "visits": [2, 5, None, 7, 3],
}
df = pd.DataFrame(data)
print(df)
df.isnull().sum()
df["age"].fillna(df["age"].mean(), inplace=True)
df["visits"].fillna(0, inplace=True)

# Create the visits_category column based on the visits column
bins = [-np.inf, 3, 5, np.inf]
labels = ["low", "medium", "high"]
df["visits_category"] = pd.cut(df["visits"], bins=bins, labels=labels, right=False)

print(df)

   user_id   age  visits
0        1  23.0     2.0
1        2   NaN     5.0
2        3  31.0     NaN
3        4  44.0     7.0
4        5   NaN     3.0
   user_id        age  visits visits_category
0        1  23.000000     2.0             low
1        2  32.666667     5.0            high
2        3  31.000000     0.0             low
3        4  44.000000     7.0            high
4        5  32.666667     3.0          medium

/tmp/ipython-input-3726531335.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].mean(), inplace=True)
/tmp/ipython-input-3726531335.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["visits"].fillna(0, inplace=True)

In [13]:
#1. Chargement du dataset
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head()
#2. Analyse
titanic.info()
titanic.describe()
#3. Nettoyage
titanic["age"].fillna(titanic["age"].mean(), inplace=True)
titanic["embarked"].fillna("Unknown", inplace=True)
#4. Filtrage
adults = titanic[titanic["age"] >= 18]
adults.head()
#5. Statistiques simples
adults.groupby("sex")["survived"].mean()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

/tmp/ipython-input-3036859495.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic["age"].fillna(titanic["age"].mean(), inplace=True)
/tmp/ipython-input-3036859495.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  titanic["embarked"].fillna("Unknown", inplace=True)

sex
female    0.752896
male      0.165703
Name: survived, dtype: float64

Day - 2


1. Comprendre NumPy et Pandas (les deux bibliothèques de base de toute data analyst/scientist)
2. Apprendre à nettoyer des données
1. Appliquer tout ça sur un mini-projet réel : Titanic dataset


| Heure       | Module                             | Objectif                                                       |
| :---------- | :--------------------------------- | :------------------------------------------------------------- |
| 0h00 → 0h45 | **Partie 1 – NumPy**               | Comprendre les `arrays` et les calculs rapides                 |
| 0h45 → 1h45 | **Partie 2 – Pandas**              | Nettoyer un tableau (DataFrame), gérer les données manquantes  |
| 1h45 → 2h45 | **Partie 3 – Mini-projet Titanic** | Appliquer tout ce que tu viens d’apprendre sur un vrai dataset |
| 2h45 → 3h00 | **Récap & push GitHub**            | Résumé + mise à jour de ton repo                               |